@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
    font-family: script;
    src: url('../fonts/script.otf');
}

body,
p {
    font-family: 'Comfortaa', cursive;
}

/* Custom Scrollbar */
::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #8080ff; border-radius: 250px; } ::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } ::-webkit-scrollbar-track{ background-color: #efefef; } ::-webkit-scrollbar-track:hover{ background-color: #CCC; } ::-webkit-scrollbar{ width: 7px; }




.default-container {
    font-family: 'Cabin', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

.link-silent {
    color: #4c4c4c;
}

.link-silent:hover {
    color: #3F5EFB;
    transition: 0.2s;
    transition-timing-function: ease-in;

}

.text-silent {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
}
 @-webkit-keyframes gradientAnimation {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes gradientAnimation {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

.section1-right {
    background: linear-gradient(270deg, #fc466b , #3f5efb);
    background-size: 200% 200%;

    -webkit-animation: gradientAnimation 25s ease infinite;
    -moz-animation: gradientAnimation 25s ease infinite;
    animation: gradientAnimation 25s ease infinite;

   
}


.cursive-header {
    font-family: script;
    font-size: 5rem;
    font-weight: 900;
}

.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.section2-left {
    background-color: #121111;
    color: white;
    padding: 6rem;
}

.tech-stack {
    color: #333;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, .5);
}

.tech-stack:hover {
    color: #555;
    transition-delay: 0.05s;
}


.section2-right {
    background: #ffffff;
}




/*Scroll down arrow*/

.arrow-wave {
    display: inline-block;
    cursor: pointer;
    font-size: 0;
    margin-bottom: -20%;
    /*   background-color: rgba(100,100,100,0.4); */
}

.arrow-wave span {
    display: block;
    position: relative;
    height: 15px;
    width: 31px;
    /*   background-color: rgba(100,100,100,0.4); */
    opacity: 0.2;
}

.arrow-wave span::before,
.arrow-wave span::after {
    display: block;
    content: "";
    position: absolute;
    height: 4px;
    width: 23px;
    background-color: #454545;
}

.arrow-wave span::before {
    top: -2px;
    left: 0;
    transform-origin: left center;
    transform: rotate(45deg);
}

.arrow-wave span::after {
    top: -2px;
    right: 0;
    transform-origin: right center;
    transform: rotate(-45deg);
}

.arrow-wave span:nth-child(1n) {
    animation: animate-arrow-wave 2s infinite;
    animation-delay: .25s;
}

.arrow-wave span:nth-child(2n) {
    animation: animate-arrow-wave 2s infinite;
    animation-delay: .50s;
}

.arrow-wave span:nth-child(3n) {
    animation: animate-arrow-wave 2s infinite;
    animation-delay: .75s;
}

@keyframes animate-arrow-wave {
    0% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.2;
    }
}
